@import "../../../../../styles-var.scss";

.app-title {
  color: $app-primary;
  font-size: 16px;
  font-weight: 700;
}

.header {
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  height: 64px;
  background: #ffffff;
  color: rgba(49, 53, 52, 0.6);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  z-index: 999;
}
.navigation-items{
  list-style:none;
}
