.divReportCanvas {
  min-height: 300px;
  width: 100%;
  border: 1px dashed black;
}


.add-widget-button {
  margin-top: 3px;
  margin-right: 3px;
}
.mat-drawer-shown{
    background-color:#fff!important;
}

.grid-stack-item-content {
  color: #2c3e50;
  text-align: center;
  background-color: white;
}
