  <div style="height:600px">
        <mat-sidenav-container style="height:100%" [hasBackdrop]="true">
          <div fxLayout="row" fxLayoutAlign="end center">
            <button mat-raised-button
                    class="add-widget-button"
                    (click)="right.open()">
              Add widget
            </button>
          </div>
          <mat-sidenav #right position="end" style="width:auto">
              <widget-list> </widget-list>
          </mat-sidenav>
          <div id="base" (dragover)="onReportCanvasDragover($event)" (drop)="onReportCanvasDrop($event,false)">
            <div id="content">
              <section class="animated fadeIn" style="padding:5px;" (dragover)="onReportCanvasDragover($event)" (drop)="onReportCanvasDrop($event,false)">
                <div class="section-body" style="margin-top:0px;">
                  <div *ngIf="viewModel && !viewModel.defaultDataModelId" class="alert alert-callout alert-danger" role="alert">
                    <strong>Oh snap!</strong> No default dataset available for you. Please click "Set Default Data-Model" from Option menu.
                  </div>
                  <div #divReportCanvas class="divReportCanvas grid-stack">
                    <div #gWidget *ngFor="let item of widgets;" (click)="activeWidget=item" class="gwidget" [ngClass]="{'active':item.id==activeWidget?.id}">
                      <div class="grid-stack-item-content shadow widgetContainerNoFlow" [ngClass]="{'shadowFix':item.id==activeWidget?.id}">
                        <div [hidden]="!(item.isLoading || item.hasError)" class="btn-group stick-top-right" style="z-index:100">
                          <a title="Delete Widget1" [style.display]="item.isReady?'none':'block'" (click)="deleteWidget($event,item)" href="javascript:void(0)" class="btn btn-icon-toggle btn-default"><i class="md md-delete"></i></a>
                        </div>
                        <div [hidden]="!item.isLoading" style="width:100%;text-align:center;padding-top:15px;font-style:italic;opacity:.7">Loading {{item.widget.name}}...</div>
                        <div [hidden]="!item.isLoading" class="SkSpinner1">
                          <div class="cube1"></div>
                          <div class="cube2"></div>
                        </div>
                        <div [hidden]="!item.hasError">
                          <div class="alert alert-danger" role="alert" style="margin-bottom:0px">
                            <strong>Oh snap!</strong> {{item.errorMessage}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- END WIDGET-CONFIG-MODA MARKUP -->
                </div>
              </section>
            </div>
          </div>
        </mat-sidenav-container>
      </div>
