<div class="report-designer" style="height:600px">
  <mat-sidenav-container style="height:100%" [hasBackdrop]="false">
    <div fxLayout="row" fxLayoutAlign="end center">
      <button mat-raised-button
              class="add-widget-button"
              (click)="addWidget()">
        Add widget
      </button>
    </div>
    <mat-sidenav #sidenav position="end" style="width:auto">
      <widget-list [reportId]="reportId" (onWidgetDragged)="onWidgetDrag($event)"> </widget-list>
    </mat-sidenav>
    <div id="base" (dragover)="onReportCanvasDragover($event)" (drop)="onReportCanvasDrop($event)">
      <div id="content">
        <div [id]="reportId" #divReportCanvas class="divReportCanvas grid-stack">
          <div #gWidget *ngFor="let widgetRef of widgetRefs;" (click)="activeWidgetRef=widgetRef" class="gwidget" [ngClass]="{'active':widgetRef.id==activeWidgetRef?.id}">
            <div class="grid-stack-item-content shadow widgetContainerNoFlow" [ngClass]="{'shadowFix':widgetRef.id==activeWidgetRef?.id}">
              <widget-base [widgetRef]="widgetRef" (onEvent)="onWidgetEvent($event)"  [size]="{width:widgetRef.width,height:widgetRef.height}" ></widget-base>
            </div>
          </div>
          </div>
        </div>
    </div>
  </mat-sidenav-container>
</div>
