.addTab {
  min-width: 0;
  padding: 0 12px;
  color: unset;
  opacity: unset;
}

.layouts-container {
  .mat-tab-label-container {
    background-color: #CCC!important;
  }
}


.add-widget-button {
  margin-top: 3px;
  margin-right: 3px;
}
.margin-top-20 {
  margin-top: 20px;
}
.widget-image {
  width: 150px;
}
.widget-title{
    font-size:12px;
    text-align:center;
}
