.margin-top-20 {
  margin: 20px;
}
.margin-10 {
  margin: 10px;
}
.widget-image {
  width: 150px;
  height: 94px;
}

.widget-title {
  font-size: 12px;
  text-align: center;
}

.item-link {
    color:#000;
  text-decoration: none !important;
}
