<div class="container margin-10 margin-top-20" fxLayout="row wrap" fxLayoutAlign="start space-evenly stretch" fxLayoutGap="20px">
  <mat-card fxFlex="0 1 calc(20% - 20px)" *ngFor="let item of widgets; let i = index"   fxLayout="column">
    <a draggable="true" class="item-link" (dragstart)="onWidgetDrag(item)" href="javascript:void(0)">
      <img class="widget-image" mat-card-image src="{{item.imageFile}}" alt="photo">
      <mat-card-title class="widget-title">{{item.name}}</mat-card-title>
    </a>
  </mat-card>
</div>
