<div class="layouts-container">
  <mat-tab-group [selectedIndex]="selectedTabIndex" animationDuration="0ms" [dynamicHeight]="true" >
    <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab"  >
        <report-designer-layout></report-designer-layout>
    </mat-tab>
    <mat-tab disabled>
      <ng-template mat-tab-label>
        <button mat-icon-button title="Add new tab" (click)="addTab(true)">
          <mat-icon class="addTab">add_circle</mat-icon>
        </button>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
