<div #widgetToolBar class="widget-tool-controls" (mouseenter)="isToolBarHover=true" (mouseleave)="isToolBarHover=false" style="display:none;position:absolute;left:35%;z-index:100;">
  <div class="example-button-row">
    <button class="btn" title="Configure Widget" mat-raised-button style=" min-width:inherit;color: #d5d2d2"><mat-icon>offline_bolt</mat-icon></button>
    <button class="btn" title="Delete Widget" mat-raised-button (click)="onDeleteWidget($event)" style=" min-width:inherit;color: #d5d2d2"><mat-icon>delete</mat-icon></button>
  </div>
</div>
<div #widgetBase class="animated fadeIn" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">

</div>


