
@import "styles-var";
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ng-dream-app-theme);

/* You can add global styles to this file, and also import other style files */

html, body {
  margin: 0;
  height: 100%;
  min-height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #e5e6e6;
  background-size: 100% 100%;
  font-size:12px;
}
