// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$app-primary-palette: mat-palette($mat-teal);
$app-accent-palette: mat-palette($mat-purple, 500, A100, A400);

// The warn palette is optional (defaults to red).
$app-warn-palette: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$ng-dream-app-theme: mat-light-theme($app-primary-palette, $app-accent-palette, $app-warn-palette);

$app-primary: mat-color($app-primary-palette);
$app-accent: mat-color($app-accent-palette);
$app-warn: mat-color($app-warn-palette);

$app-primary-hover: mat-color($app-primary-palette,50);
